@import "variables";

body {
  margin: 0;
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-color !important;
  color: white !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.dashboard {

  &-section-wrapper {
    padding: 1rem;
  }

  &-wrapper {
    .form-control {
      border: none;
      border-bottom: 1px solid #e7e7e7;
      border-radius: 0;
      padding: 2px 5px;
      min-height: 40px;
      font-size: 18px;
      font-weight: normal;

      &::placeholder {
        color: white;
      }
    }

    .reset-btn {
      padding: 0.5em 1em;
      background-color: $highlight-color;
      border-radius: 0;
      font-size: 20px;
      font-weight: bold;
      color: white;
      margin-bottom: 14px;

      &:hover {
        border: 1px solid #5E9CF1;
        background-color: #fff;
        color: $background-draft-post;
      }
    }

    .action-btn {
      padding: 0.5em 1em;
      background-color: $background-draft-post;
      border-radius: 0;
      font-size: 20px;
      font-weight: bold;
      color: white;
      margin-bottom: 14px;

      &:hover {
        border: 1px solid $background-draft-post;
        background-color: #fff;
        color: $background-draft-post;
      }
    }
  }
}

.info-block {
  width: $width-post-block;
  height: $height-post-block;
  border: 1px solid $dashboard-used-text-color-blue;
  border-radius: 0.7rem;
  background-color: $highlight-color;
}
