@import "variables";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.dashboard {
  &-section-wrapper {
    flex-direction: column;
    padding: 1rem;
  }

  &-wrapper {

    .form-control {
      border: none;
      border-bottom: 1px solid #e7e7e7;
      border-radius: 0;
      padding: 2px 5px;
      min-height: 40px;
      font-size: 18px;
      font-weight: normal;

      &::placeholder {
        color: #656363;
      }
    }

    .action-btn {
      padding: 13px 20px;
      background-color: #fdbb28;
      border-radius: 0;
      font-size: 20px;
      font-weight: bold;
      color: #000;
      margin-bottom: 14px;

      &:hover {
        border: 1px solid #fdbb28;
        background-color: #fff;
        color: #000;
      }
    }
  }
}

.info-block {
  width: $width-post-block;
  height: $height-post-block;
  border: 1px solid $dashboard-used-text-color-blue;
  border-radius: 0.7rem;
  background: $background-post-block;
}
