$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$dimensions: (xs: $xs, sm: $sm, md: $md, lg: $lg);
$main-containers-padding: 0.5rem;
$default-padding: 2rem;
$inside-default-padding: 5rem;

$font-size-sm: 1rem;
$font-size-md: 1.3rem;
$font-sizes: (sm: $font-size-sm, md: $font-size-md);

$background-draft-post: #D847EF;
$background-light: #b15dbe;
$width-post-block:15rem;
$height-post-block:5rem;
$padding-post-block: 0.8rem;

$text-color: black;
$background-color: white;
$font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;
$dashboard-used-text-color-blue: #bfb8be;
$highlight-color: #52536e;
